@import '../../scss/shared.style.scss';

:host {
  @include respond-down(sm) {
    width: 100%;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;  
}