$primaryDefault: #73296B;
$secondaryDefault: #2A3152;

$txtLight: #FFFFFF;

$bgCardDefault: #FFFFFF;
$borderCardDefault: #F8F6F7;


$dangerDefault: #FF0000;
$shadowDefault: #AAADBA;

$fontDefault: 'Nunito', sans-serif;

.fade-in {
  opacity: 0;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}